
.register_wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.h1{
    text-align: center;
    margin-bottom: 0.5rem;
}

.register_content {
    background-color: white;
    width: 400px;
    padding: 2rem;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.input_group {
    margin-bottom: 1.5rem;
}

.input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #aaa;
}

.submit_button {
    width: 100%;
    padding: 0.8rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit_button:hover {
    background-color: #0056b3;
}

.error_message {
    color: red;
    margin-top: 1rem;
}

.login_register {
    margin-top: 1rem;
    font-size: 14px;
    text-align: center;
}

.register_link {
    color: #007bff;
    text-decoration: none;
}

.register_link:hover {
    text-decoration: underline;
}
